.color1{
    background-color: greenyellow;

}
.color2{
    background-color: green;
}
.color3{
    background-color: rgb(4, 233, 126);
}
.subColumna1 {
    background-color: indianred;
    color: white;
} 
.subColumna2 {
    background-color: indigo;
    color: white;
} 